Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
node_modules
webpack.generated.js
package-lock.json
package.json
webpack.config.js
pnpmfile.js
pnpm-lock.yaml
